.sumaResta { 
  background-color: rgb(255, 255, 255); 
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 40px;    
  border-radius: 10px;    
  height: 34px;
  width: 180px;
  }

  .agregarCarrito{
    font-size: .9rem;
    background-color: rgb(255, 255, 255); 
    color: rgb(136, 116, 209);
    border: none;
    font-weight: bold;    
    padding: 8px;
    border-radius: 10px;
    height: 34px;
    width: 180px;  
}



   .sumaResta h2{
    color: rgb(136, 116, 209);
   }

  .botonResta, .botonSuma{   
    background-color:transparent;
    color: rgb(136, 116, 209);
    width: 15px;
    font-weight: bold;
    font-size: 25px;  
    border: none;
}

.contador{
  background-color:transparent;
}


.boton{    
    margin-top: 20px;  
             
}


/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media screen and (max-width: 475px) {

  .contenedorContador{
    display: inline-block;
  }


  .sumaResta{  
    margin-top: 20px;  
    justify-content: center;
  }

  .boton{    
    margin: 20px 0 50px 0;  
             
}



  
}