.sumaResta { 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 34px;
  gap: 40px;    
  border-radius: 10px;    
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.39); 
  }


  .agregarCarrito{
    width: 180px;  
    height: 34px;
    padding: 8px;
    font-size: .9rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;    
    color: rgb(136, 116, 209);
    background-color: rgb(255, 255, 255); 
    box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.39); 
}

.agregarCarrito:hover{
  background-color: rgb(136, 116, 209);
  color: white;
}

   .sumaResta h2{
    color: rgb(136, 116, 209);
   }

  .botonResta, .botonSuma{   
    background-color:transparent;
    color: rgb(136, 116, 209);
    width: 15px;
    font-weight: bold;
    font-size: 1.4rem;  
    border: none;
}

.boton{    
    margin-top: 15px;  
             
}


/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media screen and (max-width: 475px) {

  .contenedorContador{
    display: inline-block;
  }


  .sumaResta{  
    margin-top: 20px;  
    justify-content: center;
  }

  .boton{    
    margin: 20px 0 50px 0;  
             
}



  
}