.contenedorDetalles{    
    display: flex;   
    justify-content: center;
    width: 100%;
}

.detalleDeProducto{
    margin-top: 20px;
    display: flex;             
}

.detalleDeProducto img{
    object-fit:cover;
  width:300px;
  height:300px;
  border-radius: 10px;
  margin: 0 30px 0 0;
  box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.39);     
}

.detalleTextoProductos{
    width: 300px;           
}

.detalleTextoProductos h1{
 font-size: 1.5rem;
 color: white;
 padding: 0;
 margin: 0;
}

.detalleTextoProductos h2{
    font-size: 1.5rem;
    color: white;  
    padding: 0;
    margin: 10px 0;  
}

.detalleTextoProductos p{
    font-size: 1rem;
    color: white;    
    padding: 0;
    margin: 10px 0;
   }

.detalleTextoProductos .detalles{    
    word-wrap: break-word
}

/*------------------------------------------------------------------MOVIL---------------------------------------------------------*/

@media screen and (max-width: 700px) {

.detalleDeProducto{
    display: inline;            
    text-align: center;
}

.detalleDeProducto{
    margin-top: 0;
}

.detalleDeProducto img{     
  object-fit:cover;
  width: 80%;
  height:200px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 10px 10px 26px -4px rgba(0, 0, 0, 0.158);   
}

.detalleTextoProductos h1{
    text-align: start;
 font-size: 30px;
 color: white; 
 margin: 10px 40px;
}

.detalleTextoProductos .detalletxt{
    text-align: start;
    font-size: 25px;
    color: white;   
    margin: 10px 40px;
}

.detalleTextoProductos p{
    text-align: start;
    font-size: 18px;
    color: white;
    font-weight: bold; 
    margin: 10px 40px;
   }

.detalleTextoProductos .detalles{    
    word-wrap: break-word
}

}