
/* -----ESTILOS GENERALES------ */
*{
    font-size: 18px;
    color: #fff;  
    background-color: rgb(136, 116, 209); 
    font-family: 'Alexandria', sans-serif;
  }
  /* --------------------------- */