
/* -----ESTILOS GENERALES------ */
*{
    font-size: 18px;
    color: #fff;      
    font-family: 'Alexandria', sans-serif;
  }

body{
  background-color: rgb(136, 116, 209); 
  
}

  /* --------------------------- */